.App {
  /* text-align: center; */
  margin: 0px;
  padding: 0px;
}

.heroContainer {
  /* height: 100%; */
  width: 100%;
  /* background: url(./front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #464646; */
  /* text-align: left; */
  margin: 0;
  font-size: 6vw;
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  height: 50vmax;
  background-color: #464646;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.heroTextContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0 auto;
}

.heroHeader {
  text-align: left;
  margin-left: 10vw;
  font-size: large;
  color: antiquewhite;
  padding-top: 2vh;
}

.heroText {
  margin: 0;
}

.heroWelcome {
  margin: 0;
  -webkit-text-stroke: 3px white;
  -webkit-text-fill-color: transparent;
  font-size: 7vw;
  font-style: italic;
}

.heroButton {
  background-color: blueviolet;
  height: 6vh;
  width: 9vw;
  color: antiquewhite;
  border: none;
  font-size: medium;
  font-weight: 900;
}

.bodySectionOne {
  height: 45vh;
  background-color: aqua;
  /* width: 50%; */
  margin-right: 0px;
}

.bodySectionOneText {
  height: 45vh;
  background-color: aqua;
  text-align: left;
  /* width: 50%; */
  float: left;
  position: absolute;
  margin-left: 12vw;
  margin-right: 50vw;
}

.bodySectionOneImage {
  height: 100%;
  background-image: url(./front-end-dev-test-assets/img-1.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  float: right;
  width: 50%;
}

.bodySectionTwo {
  height: 45vh;
  background-color: green;
}
.bodySectionThree {
  height: 45vh;
  background-color: red;
}
.bodySectionFour {
  height: 45vh;
  background-color: gray;
}
.bodySectionFive {
  height: 45vh;
  background-color: aqua;
}
