.App {
  text-align: center;
}

.heroContainer {
  /* height: 100%; */
  width: 100%;
  /* background: url(./front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
  text-align: center;
  margin: auto;
  object-fit: cover;
  object-position: bottom; */
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  height: 40vmax;
  background-color: #464646;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.heroTextContainer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
